# Python basics

### Datatyper

- **bool** (boolean) : sand/falsk
- **str** (string): tekst
- **int** (integer): heltal
- **float** : kommatal
- **list** : en ordnet liste af objekter (tænk vektor fra matematik)
- **tuple**: en ordnet immutable liste af objekter (tænk vektor fra matematik)
- **set** : en uordnet mængde af objekter hvor der ikke kan eksistere duplikater (tænk sæt fra matematik)
- **dict** (dictionary): en mængde af uordnede key/value-pairs (tænk en telefonbog, hvor man slår et navn op og der tilhører til hvert navn et telefon nummer)

Eksempler på Datatyperne kan findes til sidst i notebook'en

### Operatorer

plus : `+`,  minus : `-`, dividere : `/`, gange : `*`, opløfte : `**`

### Funktioner

Funktioner bliver brugt flittigt når man programmere, og vil i løbet af kurset blive brugt igen og igen. Funktioner kan opsummeres på følgende måde:

> Functions are "self contained" modules of code that accomplish a specific task. Functions usually "take in" data, process it, and "return" a result. Once a function is written, it can be used over and over and over again. Functions can be "called" from the inside of other functions. - [University of Utah](https://www.cs.utah.edu/~germain/PPS/Topics/functions.html)

Altså en funktion tager et input og giver et output. Nedenfor er der et eksempel på en funktion der defineres. Funktionen hedder `square` og udregner kvadrattallet af for givent tal:

In [44]:
def square(x):
    
    return x**2

In [45]:
square(3)

9

En funktion kan tage flere argumenter. Nedenfor defineres funktionen `concat_strings` der tager to strings og returnere dem som en string:

In [47]:
def concat_strings(str_a, str_b):
    
    return str_a + ' ' + str_b # ' ' tilføjer et mellemrum

In [48]:
concat_strings('tekst 1', 'tekst 2')

'tekst 1 tekst 2'

En funktion kan også returnere flere værdier. Nedenfor defineres funktion `get_min_max`, som returnere det mindste og største element i en liste.

In [50]:
def get_min_max(l):
    
    min_val = min(l)
    max_val = max(l)
    
    return min_val, max_val

In [54]:
get_min_max([1,2,3,4,5])

(1, 5)

# Datatyper - eksempler

### Bool

In [23]:
# sand eller falsk værdier. Husk stort bogstav: "True" eller "False" 
True

True

### String

In [12]:
"Dette er en string"

'Dette er en string'

In [24]:
# læg mærke til apostroferne (i outputtet). Disse implicerer at det er en string
str(5.4)

'5.4'

### Int

In [26]:
# et floating point bliver lavet om til et hel tal
int(5.4)

5

### Float

In [27]:
# eftersom 5.4 er en float, bliver den ikke lavet om ved funktion float()
float(5.4)

5.4

### List

In [16]:
# listen bliver lavet ved hjælpe af [], hvor hvert element bliver separeret af komma
[2, 3, 4]

[2, 3, 4]

In [28]:
# alle elementer i listen behøver ikke være ad samme type
[2, 'tre', 4.111]

[2, 'tre', 4.111]

### Set

In [19]:
# et sæt laves med {}, hvor hvert element bliver separeret af komma
{1,2,3}

{1, 2, 3}

In [20]:
# Der er duplikater i listen. De forsvinder ved set() funktionen
set([1,1,1,2,3,3,3])

{1, 2, 3}